@font-face {
    font-family: "Gmarket";
    font-style: normal;
    font-weight: 300;
    src: local("GmarketSansTTFLight"), /* computer */
    url("GmarketSansTTF/GmarketSansTTFLight.ttf") format("truetype");
  }

  @font-face {
    font-family: "Gmarket";
    font-style: normal;
    font-weight: 500;
    src: local("GmarketSansTTFMedium"), /* computer */
    url("GmarketSansTTF/GmarketSansTTFMedium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Gmarket";
    font-style: normal;
    font-weight: 700;
    src: local("GmarketSansTTFBold"), /* computer */
    url("GmarketSansTTF/GmarketSansTTFBold.ttf") format("truetype");
  }